.navigation {
    font-size: 25px;
    margin-right: 40px;
    margin-bottom: 40px;
    max-width: 100%;
}

.navigation__list {
    list-style-type: none;

}

.navigation__link {
    border: 5px solid rgb(0, 213, 255);
    border-radius: 20px;
    background-color: rgb(0, 213, 255);
    font-family: Verdana, Tahoma, sans-serif;
    color: #222;
    text-decoration: none;
}

.navigation__link:hover {
    color: rgb(250, 9, 9);
    border: 5px solid rgb(255 0 0);
    padding: 3px;
    background-image: url(../images/fire.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px 3px rgb(38 41 73 / 44%);
}