html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}



.body {
    max-width: 1000px;
    background-color: #222;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    font-family: "Lato", sans-serif;

}

.span {
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(0, 213, 255);
}

.button {
    border: 2px outset;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 10px;
    cursor: pointer;
}

.js__imageButton {
    border: 2px outset;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 10px;
}

.footer {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px;
    font-size: 15px;
    border-bottom: 2px solid #c54a15;
}

.dark {
    max-width: 1000px;
    background-color: #adadad;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    font-family: "Lato", sans-serif;
}