.table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    background-color: bisque;
}

.caption {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    border-bottom: 2px solid rgb(0, 32, 139);
    padding: 20px;
}

.table__header {
    background-color: #9696d1e3
}

.table__cell {
    border: 2px solid rgb(0, 0, 0);
    font-size: 25px;
    padding: 30px;
    color: #222;
}

.table__cell:hover {
    color: #55ff00;
}

.table__row:hover {
    color: #55ff00;
    background-color: hsl(215, 12%, 61%)
}

.table {
    margin: auto;
    border-collapse: collapse;
    max-width: 100%;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
}